---
layout: default
title: Home
---

{% include html/archive.html %}

<section>

  {% for post in paginator.posts %}

    {% capture p_date %}{{ post.date | date: "%A, %B %d, %Y" }}{% endcapture %}
    {% capture np_date %}{{ post.next.date | date: "%A, %B %d, %Y" }}{% endcapture %}
    {% if p_date != np_date %}
      <h1>{{ p_date }}</h1>
    {% endif %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <article>
      {{ post.content }}
    </article>

  {% endfor %}

  {% include html/paginator.html %}

</section>
