---
layout: default
title: Home
---

<aside>

  {% for post in site.posts %}

    {% unless post.next %}
      <h1>{{ post.date | date: '%Y' }}</h1>
      <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h1>{{ post.date | date: '%Y' }}</h1>
        <ul>
      {% endif %}
    {% endunless %}

    <li><span class="post-date">{{ post.date | date: '%b' }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>

  {% endfor %}

  </ul>

</aside>

<section>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}

    {% capture p_date %}{{ post.date | date: "%A, %B %d, %Y" }}{% endcapture %}
    {% capture np_date %}{{ post.next.date | date: "%A, %B %d, %Y" }}{% endcapture %}
    {% if p_date != np_date %}
      <h1>{{ p_date }}</h1>
    {% endif %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <article>
      {{ post.content }}
    </article>

  {% endfor %}

  <!-- Pagination links -->
  <footer>

    <ul class="pages">

      <li class="page">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/">Previous</a>
          {% else %}
            <a href="{{ paginator.previous_page_path }}">Previous</a>
          {% endif %}
        {% else %}
          Previous
        {% endif %}
      </li>

      <li class="page">
        {% if paginator.page == 1 %}
          1
        {% else %}
          <a href="/">1</a>
        {% endif %}
      </li>

      {% for count in (2..paginator.total_pages) %}
        <li class="page">
          {% if count == paginator.page %}
            {{ count }}
          {% else %}
            <a href="/page{{ count }}">{{ count }}</a>
          {% endif %}
        </li>
      {% endfor %}

      <li class="page">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">Next</a>
        {% else %}
          Next
        {% endif %}
      </li>

    </ul>

  </footer>

</section>
