---
layout: default
title: Home
---

<aside>

  {% for post in site.posts %}

    {% unless post.next %}
      <h1>{{ post.date | date: '%Y' }}</h1>
      <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h1>{{ post.date | date: '%Y' }}</h1>
        <ul>
      {% endif %}
    {% endunless %}

    <li><span class="post-date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>

  {% endfor %}

  </ul>

</aside>

<section>

  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</section>
