@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #ffffff;
  color: #111111;
  font: 20px Raleway, sans-serif;
  margin: 60px auto;
  width: 1080px;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

header {
  text-align: left;
  height: 230px;
}

header img {
  float: left;
}

header div {
  border-width: 2px;
  border-style: solid;
  background-color: #fafafa;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 12px;
  margin: 0px;
  margin-top: 40px;
  padding: 20px 0px 10px 250px;
}

header a {
  color: #000000;
}

header a:hover {
  color: #000000;
}

header p {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4px;
  padding: 0px 0px 20px 253px;
  margin: 0px;
}

nav {
  font-size: 16px;
  letter-spacing: 5px;
  text-align: right;
  word-spacing: 5px;
  text-transform: uppercase;
  margin-top: -100px;
  margin-bottom: 25px;
  padding: 20px 0px;
  color: rgb(119, 119, 119);
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

nav li {
  display: inline;
}

aside {
  width: 230px;
  float: right;
}

aside h1 {
  border-bottom-style: solid;
  border-width: 2px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  text-align: right;
}

aside ul {
  margin-top: 5px;
  list-style-type: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}

section.site {
  width: 700px;
  float: left;
}

section.site>h1 {
  border-bottom-style: solid;
  border-width: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

section>h1 .permalink {
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
}

section.site>h2 {
  font-size: 20px;
  margin-top: 0px;
  color: brown;
}

section.site>h2.dateline {
  text-align: right;
  margin-top: -15px;
  margin-bottom: 75px;
}

section.site>h2>a {
  color: brown;
}

section.site>h2>a:hover {
  color: brown;
}

section.site>div.date {
  margin-top: -13px;
  padding-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
  color: rgb(140, 140, 140);
  letter-spacing: 2px;
}

section.site>article {
  padding: 0px 20px 0px 20px;
  line-height: 25px;
}

section.site>article>h1 {
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
  border-bottom-style: solid;
  border-width: 1px;
}

section.site>article>h2 {
  color: #333333;
  font-size: 18px;
  margin-left: 0px;
  border-bottom-style: solid;
  border-width: 1px;
}

section.site table {
  width: 100%;
  margin-bottom: 20px;
}

section.site table>thead {
  text-align: left;
  color: rgb(120, 183, 73);
}

section.site table>tbody>tr:nth-child(2n+1) {
  background-color: rgb(45, 45, 45);
}

section.site table th {
  padding: 1px 5px;
}

section.site table td {
  padding: 1px 5px;
}

footer.site {
  text-align: right;
  padding: 75px 0px;
  width: 100%;
  float: left;
}

footer.paginator {
  font-size: 24px;
  text-align: center;
  text-transform: lowercase;
}

footer.paginator ul {
  list-style-type: none;
  padding: 0px;
}

footer.paginator li {
  display: inline;
}

footer.paginator li + li:before{
  content: " - ";
}
