section.site {
  width: 660px;
  float: right;
}

section.site>h1 {
  border-color: rgb(119, 119, 119);
  border-bottom-style: solid;
  border-width: 1px;
  color: rgb(119, 119, 119);
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

section.site>h2 {
  color: rgb(242, 152, 76);
  font-size: 16px;
  text-transform: lowercase;
}

section.site>h2>a {
  color: rgb(242, 152, 76);
}


section.site>h2>a:hover {
  color: rgb(120, 183, 73);
}

section.site>article {
  padding: 0px 20px 20px;
  line-height: 20px;
}

section.site>article>h1 {
  color: rgb(242, 152, 76);
  font-size: 16px;
  text-transform: lowercase;
  margin-left: -20px;
}

section.site>article>h2 {
  color: rgb(242, 152, 76);
  font-size: 14px;
  text-transform: lowercase;
  margin-left: -10px;
}

section.site table {
  width: 100%;
  margin-bottom: 20px;
}

section.site table>thead {
  text-align: left;
  color: rgb(120, 183, 73);
}

section.site table>tbody>tr:nth-child(2n+1) {
  background-color: rgb(45, 45, 45);
}

section.site table th {
  padding: 1px 5px;
}

section.site table td {
  padding: 1px 5px;
}
