body {
  background-color: #ffffff;
  color: #111111;
  font: 20px Raleway, sans-serif;
  margin: 60px auto;
  width: 1080px;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  color: #000000;
}
