<aside>

  <section>
    <h1>Tags</h1>
    {% for category in site.categories %}
    <a href="/{{ category | first | slugize }}/">{{ category | first }}</a>
    {% endfor %}
  </section>

  <section>
    <h1>Archive</h1>
  </section>

  <section>

    <h1>Badges</h1>

    <div class="twitter">
      <a href="https://twitter.com/guyroyse" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @guyroyse</a>
      <script>
        !(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        })(document, 'script', 'twitter-wjs');
      </script>
    </div>

  </section>

</aside>
