header.site {
  background-image: url('/images/alien-sunrise-banner.jpg');
  text-transform: lowercase;
  text-align: center;
  padding: 5px;
}

header.site>hgroup {
  border: 1px solid #000000;
}

header.site h1 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 20px;
  margin: 0px;
  padding: 20px 0px 10px;
}

header.site a {
  color: #000000;
}

header.site a:hover {
  color: #000000;
}

header.site h2 {
  color: rgb(204, 204, 204);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 0px 0px 20px;
  margin: 0px;
}
