body>aside {
  width: 270px;
  float: left;
}

body>aside h1 {
  border-color: rgb(119, 119, 119);
  border-bottom-style: solid;
  border-width: 1px;
  color: rgb(119, 119, 119);
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

body>aside ul {
  text-transform: lowercase;
  list-style-type: none;
  padding-left: 15px;
}

body>aside span.post-date {
  color: rgb(119, 119, 119);
  text-align: left;
  text-transform: uppercase;
  font: 12px Andale Mono, monospace;
}

body>section {
  width: 660px;
  float: right;
}

body>section>h1 {
  border-color: rgb(119, 119, 119);
  border-bottom-style: solid;
  border-width: 1px;
  color: rgb(119, 119, 119);
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

body>section>h2 {
  font-size: 16px;
  text-transform: lowercase;
}

body>section>h2>a {
  color: rgb(242, 152, 76);
}


body>section>h2>a:hover {
  color: rgb(120, 183, 73);
}

body>section>article {
  padding: 0px 20px 20px;
  line-height: 20px;
}

body>section>footer {
  font-size: 16px;
  text-align: center;
  border-color: rgb(119, 119, 119);
  border-top-style: solid;
  border-width: 1px;
 }

ul.pages {
  list-style-type: none;
  padding: 0px;
}

li.page {
  display: inline;
}

li.page + li.page:before{
  content: " - ";
}
