header {
  text-align: left;
  height: 230px;
}

header img {
  float: left;
}

header div {
  border-width: 2px;
  border-style: solid;
  background-color: #fafafa;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 12px;
  margin: 0px;
  margin-top: 40px;
  padding: 20px 0px 10px 250px;
}

header a {
  color: #000000;
}

header a:hover {
  color: #000000;
}

header p {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4px;
  padding: 0px 0px 20px 253px;
  margin: 0px;
}
