<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{{ site.name }} | {{ page.title }}</title>

<!-- reset -->
<link rel="stylesheet" href="/css/normalize.css">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

</head>

<body>

<header>
  <hgroup>
    <h1><a href="/">{{ site.name }}</a></h1>
    <h2>Work. Write. Code. Game. Lather. Rinse. Repeat.</h2>
  </hgroup>
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Projects</a></li>
    <li><a href="/">Presentations</a></li>
    <li><a href="/">Katas</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Connect</a></li>
  </ul>
</nav>

<section>

{{ content }}

</section>

<footer>
  <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/" rel="license"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png"></a>
</footer>

</body>

</html>
