<aside class="site">

  <figure>
    <img src="/images/turkey-leg.jpg" />
    <figcaption><a href="/about">About Me</a></figcaption>
  </figure>

  <h1>Connect</h1>

  <ul>
    <li><a href="http://twitter.com/guyroyse">Twitter</a></li>
    <li><a href="http://github.com/guyroyse">GitHub</a></li>
    <li><a href="http://linkedin.com/in/groyse">LinkedIn</a></li>
    <li><a href="http://www.meetup.com/members/14276674/">Meetup</a></li>
    <li><a href="http://slideshare.net/GuyRoyse">SlideShare</a></li>
    <li><a href="http://speakerrate.com/guyroyse">SpeakerRate</a></li>
    <li><a href="http://www.goodreads.com/guyroyse">Good Reads</a></li>
    <li><a href="http://stackoverflow.com/users/513710/guy-royse">Stack Overflow</a></li>
  </ul>

  <h1>Community</h1>

  <ul>
    <li><a href="http://cbusjs.github.io">CBusJS</a></li>
    <li><a href="http://codemash.org/">CodeMash</a></li>
    <li><a href="http://pillartechnology.com/forge">The Forge</a></li>
    <li><a href="http://www.meetup.com/techlifecolumbus/">TechLife Columbus</a></li>
  </ul>

  <h1>Katas</h1>

  <ul>
    <li><a href="https://github.com/guyroyse/evercraft-kata">Evercraft</a></li>
    <li><a href="https://github.com/guyroyse/vending-machine-kata">Vending Machine</a></li>
    <li><a href="https://github.com/guyroyse/gilded-rose-javascript">Gilded Rose (JavaScript)</a></li>
    <li><a href="https://github.com/guyroyse/etruscan-numerals-kata">Etruscan Numerals</a></li>
    <li><a href="https://github.com/guyroyse/kenny-rogers-kata">Kenny Rogers</a></li>
    <li><a href="https://github.com/guyroyse/pig-latin-kata">Pig Latin Kata</a></li>
  </ul>

  <h1>Project Skeletons</h1>

  <ul>
    <li><a href="https://github.com/guyroyse/javascript-skeleton">JavaScript</a></li>
    <li><a href="https://github.com/guyroyse/ruby-skeleton">Ruby</a></li>
    <li><a href="https://github.com/guyroyse/cucumber-skeleton">Cucumber</a></li>
    <li><a href="https://github.com/guyroyse/coffee-script-skeleton">CoffeeScript</a></li>
  </ul>

</aside>
