<aside class="site">

  <figure>
    <img src="/images/turkey-leg.jpg" />
    <figcaption><a href="/about">About Me</a></figcaption>
  </figure>

  <h1>Connect</h1>

  <ul>
    <li><a href="http://twitter.com/guyroyse">Twitter</a></li>
    <li><a href="http://github.com/guyroyse">GitHub</a></li>
    <li><a href="http://linkedin.com/in/groyse">LinkedIn</a></li>
    <li><a href="http://stackoverflow.com/users/513710/guy-royse">Stack Overflow</a></li>
    <li><a href="http://slideshare.net/GuyRoyse">SlideShare</a></li>
  </ul>

  <h1>Projects</h1>

  <ul>
    <li><a href="projects/bertha">Bertha</a></li>
    <li><a href="projects/cbusjs">CBusJS</a></li>
    <li><a href="projects/swarming">Swarm Coding</a></li>
  </ul>

  <h1>Katas</h1>

  <ul>
    <li><a href="/katas/etruscan-numerals.html">Etruscan Numerals</a></li>
    <li><a href="/katas/kenny-rogers.html">Kenny Rogers</a></li>
  </ul>

</aside>
