nav.site {
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;
  word-spacing: 5px;
  text-transform: lowercase;
  padding: 20px 0px;
  color: rgb(119, 119, 119);
}

nav.site ul {
  list-style-type: none;
  padding: 0px;
}

nav.site li {
  display: inline;
}

nav.site li + li:before{
  content: " | ";
}
