nav {
  font-size: 20px;
  letter-spacing: 5px;
  text-align: right;
  word-spacing: 5px;
  text-transform: uppercase;
  margin-top: -100px;
  margin-bottom: 25px;
  padding: 20px 0px;
  color: rgb(119, 119, 119);
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

nav li {
  display: inline;
}

/*nav.site li + li:before{
  content: " | ";
}*/
